#layout-root {
  display:flex;
  flex-flow:column wrap;
  width:100%;
}

#nav-content-wrapper {
  display:flex;
  flex-flow: row wrap;
  align-self: stretch;
  flex: 1 auto;
}

#main-nav {
  flex: 0 0 24rem;
  padding: 1.5rem;
}

#main-nav a {
  color: var(--color);
}

#content-wrapper {
  background-color: var(--color);
  flex: 1 auto;
}

#player-wrapper {
  background-color: #ff0000;
  height: 7rem;
  width:100%;
}
